* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Custom property */
@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

/* Animation */
@keyframes border {
  from {
    --rotate: 0deg;
  }
  to {
    --rotate: 360deg;
  }
}

.box {
  color: bisque;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  padding-inline: 1%;
  padding-bottom: 1%;
  border-radius: 15px;
  position: absolute;
  border: 4px solid rgba(255, 255, 255, 0);
  margin: 10px;
  animation: border 4s linear infinite;
  animation-play-state: paused;
  transition: all 0.3s linear;

  &:hover {
    box-shadow: 0 0 70px crimson;
    background: linear-gradient(black) padding-box,
      conic-gradient(from var(--rotate), black, crimson, black) border-box;
    animation-play-state: running;
    color: crimson;
    text-shadow: 0 0 10px crimson;
  }

  img {
    margin-top: 1%;
    position: relative;
    border-radius: 15px;
    width: 100%;
  }
}

h1 {
  font-size: 1.7vw;
  font-weight: 800;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
}

p {
  font-family: cursive;
  font-size: 1.2vw;
  font-weight: 200;
}
